@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    You will never walk alone<br />
    Anfield Rd, Liverpool L4 0TH, Wielka Brytania<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:karloj96@gmail.com">karloj96@gmail.com</a><br />
    
</address>